

<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-tachometer-alt"></i>Profile</a>
                        <li>
                            <a href="chart.html">
                                <i class="fas fa-chart-bar"></i>University Shortlisting</a>
                        </li>
                        <li>
                            <a href="table.html">
                                <i class="fas fa-table"></i>Profile Evaluation</a>
                        </li>
                        <li>
                            <a href="form.html">
                                <i class="far fa-check-square"></i>SOP, LOR and Resume</a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fas fa-calendar-alt"></i>Guide Selection</a>
                        </li>
                        <li>
                            <a href="map.html">
                                <i class="fas fa-map-marker-alt"></i>Apply to Universities</a>
                        </li>
                        <li>
                            <a href="map.html">
                                <i class="fas fa-map-marker-alt"></i>Send documents to Universities</a>
                        </li>
                        <li>
                            <a href="map.html">
                                <i class="fas fa-map-marker-alt"></i>Funding Opportunities</a>
                        </li>
                        <li>
                            <a href="map.html">
                                <i class="fas fa-map-marker-alt"></i>Mock Visa Interview Help</a>
                        </li>
                        <li>
                            <a href="map.html">
                                <i class="fas fa-map-marker-alt"></i>Accomodation Help</a>
                        </li>
                         <li>
                            <a href="map.html">
                                <i class="fas fa-map-marker-alt"></i>Loan Help</a>
                        </li>
                         <li>
                            <a href="map.html">
                                <i class="fas fa-map-marker-alt"></i>Air Travel Help</a>
                        </li>
                         <li>
                            <a href="map.html">
                                <i class="fas fa-map-marker-alt"></i>Forex Help</a>
                        </li>                        
                    </ul>
                </div>
            </nav>
        </header>
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="#">
                    <img src="assets/images/icon/logo.png" alt="Cool Admin" />
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li class="active has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-tachometer-alt"></i>Profile</a>
                        </li>
                        <li>
                            <a href="chart.html">
                                <i class="fas fa-chart-bar"></i>University Shortlisting</a>
                        </li>
                        <li>
                            <a href="table.html">
                                <i class="fas fa-table"></i>Profile Evaluation</a>
                        </li>
                        <li>
                            <a href="form.html">
                                <i class="far fa-check-square"></i>SOP, LOR and Resume</a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fas fa-user"></i>Guide Selection</a>
                        </li>
                        <li>
                            <a href="map.html">
                                <i class="fas fa-plane"></i>Apply to Universities</a>
                        </li>
                        <li>
                            <a href="map.html">
                                <i class="fas fa-file"></i>Send Docs to Universities</a>
                        </li>
                        <li>
                            <a href="map.html">
                                <i class="fas fa-rocket"></i>Funding Opportunities</a>
                        </li>
                        <li>
                            <a href="map.html">
                                <i class="fas fa-map-marker-alt"></i>Mock Visa Interview Help</a>
                        </li>
                          <li>
                            <a href="map.html">
                                <i class="fas fa-home"></i>Accomodation Help</a>
                        </li>
                          <li>
                            <a href="map.html">
                                <i class="fas fa-inr"></i>Loan Help</a>
                        </li>
                          <li>
                            <a href="map.html">
                                <i class="fas fa-plane"></i>Air Travel Help</a>
                        </li>
                          <li>
                            <a href="map.html">
                                <i class="fas fa-usd"></i>FOREX Help</a>
                        </li>
                        
                        
                    </ul>
                </nav>
            </div>
        </aside>
        <div style="text-align: center;margin-top:7em;" ><a href="/login/student"><h1>LogIn to See full details</h1></a></div>
        </div>
  
</body>
